{
    "plugins": ["@prettier/plugin-php"],
    "phpSingleQuote": false,
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "parser": "php",
                "tabWidth": 4
            }
        }
    ]
}
